doctype html
html
	head
		block title
			title Monthly Income Management
		block meta
			meta(name="description",content="Manage your expenditures, and remove them from your monthly activities! Follow all advices from our platform for a better result.")
			meta(name="og:description",content="Manage your expenditures, and remove them from your monthly activities! Follow all advices from our platform for a better result.")
			meta(property="og:site_name",content="Monthly Income Management")
			meta(property="og:image",content="https://monthly-income.herokuapp.com/images/monthly-income.png")
			meta(name="twitter:description",content="Manage your expenditures, and remove them from your monthly activities! Follow all advices from our platform for a better result.")
			meta(name="twitter:title",content="Monthly Income Management")
			meta(name="twitter:card",content="summary_large_image")
			meta(name="twitter:image",content="https://monthly-income.herokuapp.com/images/monthly-income.png")
		meta(name="viewport",content="width=device-width,initial-scale=1.0,user-scalable=no")
		meta(name="google-site-verification",content="8jtKltD6T2ns2fyRMuP1DEhvMenwOuJUupv0Z-_KqPo")
	body
		nav.navbar.navbar-default.navbar-fixed-top
				.container-fluid
					.navbar-header
						button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#bs-example-navbar-collapse-1",aria-expanded="false")
							span.sr-only Toggle navigation
							each val in [0, 1, 2]
								span.icon-bar
						a.navbar-brand(href='/') Monthly Income
					.collapse.navbar-collapse#bs-example-navbar-collapse-1
						ul.nav.navbar-nav.navbar-right
							li 
								a(href='/login') Login
							li 
								a(href='/register') Register
		.container
			block content
				.well
					.col-md-7.col-xs-12.col-lg-8
						h1 Grow up your monthly income
						p Grow up fast your monthly income with your <strong>monthly income management</strong>. Manage your expenditures, and remove them from your monthly activities! Follow all advices from our platform for a better result. 
						p
							strong All informations are confidential!
					.col-md-5.col-xs-12.col-lg-4
						br.visible-xs.visible-sm
						.panel.panel-primary
							.panel-heading
								.panel-title 
									h2.text-center Get started Now
							.panel-body
								form.form-horizontal(method="post",action="/register")
									.form-group
										label.control-label.col-md-3 Username
										.col-md-9
											input.form-control(type="text",name="username")
									.form-group
										label.control-label.col-md-3 Email
										.col-md-9
											input.form-control(type="email",name="email")
									.form-group
										label.control-label.col-md-3 Password
										.col-md-9
											input.form-control(type="password",name="password")
									.form-group
										.col-md-9.col-md-offset-3
											button.btn.btn-primary(type="submit") Register Now
					.clearfix
				script(type="text/javascript",async,src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js",charset="utf-8")
				script(type="text/javascript",async,src="//yastatic.net/share2/share.js",charset="utf-8")
				p.text-center Tell your friends about us
				.ya-share2.text-center(data-services="vkontakte,facebook,gplus,twitter,delicious,digg,pocket,tumblr,viber,whatsapp",data-counter)
				
				h2 How it works
				<div class="embed-responsive embed-responsive-4by3">
					<iframe class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/F305qZTD-kg" allowfullscreen></iframe>
				</div>
				
				p.row
					h2.col-md-12 With us you can:
					.col-md-6
						h3 Calculate your monthly/early deposit
						img.img-responsive(src="/images/deposited.png",alt="monthly deposit")
						
					.col-md-6
						h3 To know your successful Rank
						img.img-responsive(src="/images/rank.png",alt="successful rank")
				p.row
					.col-md-6
						h3 Create your income list
						img.img-responsive(src="/images/incomes.png",alt="income list")
						
					.col-md-6
						h3 Create your expediture list
						img.img-responsive(src="/images/expediture.png",alt="expediture list")
				
		link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", crossorigin="anonymous")
		link(rel='stylesheet',href='/stylesheets/style.css')
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==", crossorigin="anonymous")
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-59648143-2', 'auto');
			ga('send', 'pageview');
