doctype html
html
	head
		title= title
    link(rel='stylesheet',href='/stylesheets/style.css')
	body
		#{body}
		script(src="//code.angularjs.org/1.5.0-rc.0/angular.min.js")
		script(src="//code.angularjs.org/1.5.0-rc.0/angular-resource.min.js")
		script(src="/javascripts/app.js")